/* ============================= */
/*           General             */
/* ============================= */

/* --- Color Palette --- */
:root {
    --primary: #73b288;
    --secondary: #2b5338;
    --tertiary: #e5ce6a;
    --contrast: #0d1710;
}

/* --- General Styling --- */
body {
    margin: 0px;
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--contrast);
    font-size: 18px;
}

/* --- Main Content */
section, footer {
    padding: 8px 32px;
}

/* ============================= */
/*         Typography            */
/* ============================= */

/* --- Heading 1 --- */
h1 {
    font-family: "Gamja Flower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 56px;
    text-align: center;
    color: var(--secondary);
}

/* --- Heading 2 --- */
h2 {
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: var(--secondary);
    font-size: 32px;
}

/* --- Heading 3 --- */
h3 {
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: var(--secondary);
    font-size: 24px;
}

/* --- Paragraph --- */
p {
    line-height: 1.5em;
    color: var(--contrast);
}


/* ============================= */
/*           Nav Bar             */
/* ============================= */

/* --- Container --- */
#menu {
    z-index: 99;
    list-style: none;
    background-color: var(--primary);
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* --- Nav Item --- */
.menu-item {
    display: block;
    align-self: center;
    color: black;
    text-decoration: none;
}

/* --- Nav Icon --- */
#menu img {
    width: 30px;
    padding: 16px 32px;
}


/* ============================= */
/*            Footer             */
/* ============================= */

/* --- Container --- */
footer {
    background-color: var(--secondary);
}


/* ============================= */
/*           Homepage            */
/* ============================= */

/* --- Container --- */
#banner {
    position: relative;
    padding: 0px;
}

/* --- Background Image --- */
#banner img {
    width: 100%;
    height: 200px;
    opacity: 0.3;
    object-fit: cover;
}

/* --- Title --- */
#banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px 0px;
    width: 90%;
}

/* --- Recipe Preview --- */
#recipes-preview, #tips-preview {
    background-color: var(--tertiary);
}


/* ============================= */
/*         Recipes Page          */
/* ============================= */

/* --- Recipe Card --- */
.recipe {
    margin: 32px 0px;
    /* padding: 16px; */
    border: 2px solid var(--secondary);
    border-radius: 16px;
    background-color: var(--primary);
}

/* --- Card Text --- */
.recipe h3, .recipe p {
    margin: 16px 32px;
    color: var(--contrast);
}

/* --- Card Image --- */
.recipe img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom: 2px solid var(--secondary);
}


/* ============================= */
/*        Essentials Page        */
/* ============================= */





/* ============================= */
/*           Tips Page           */
/* ============================= */




.list {
    height: 200px;
    width: 100%;
  }
  
.list li {
    list-style-type: none;

    width: 200px;
    height: 200px;
    opacity: .25;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    border-radius: 16px;
    background-image: url("../images/zucchini-muffins.jpg");
    background-position: center;
    transition: transform 1s, opacity 1s;
}

.list .act {
    opacity: 1;
}

.list .prev, .list .next {
    cursor: pointer;
}

.list .prev {
    transform: translateX(-220px) scale(.85);
}

.list .next {
    transform: translateX(220px) scale(.85);
}

.list .hide {
    transform: translateX(-420px) scale(.85);
}

.list .new-next {
    transform: translateX(420px) scale(.85);
}

.list .hide,
.list .new-next {
    opacity: 0;
    transition: opacity .5s, transform .5s;
}

.swipe {
    width: 270px;
    height: 200px;
    position: absolute;
    background-color: green;
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
