/* ============================= */
/*           General             */
/* ============================= */

/* --- Color Palette --- */
:root {
    --primary: #73b288;
    --secondary: #2b5338;
    --tertiary: #e5ce6a;
    --contrast: #0d1710;
}

/* --- General Styling --- */
body {
    margin: 0px;
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--contrast);
    font-size: 18px;
}

/* --- Main Content */
section, footer {
    padding: 8px 32px;
}

/* ============================= */
/*         Typography            */
/* ============================= */

/* --- Heading 1 --- */
h1 {
    font-family: "Gamja Flower", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 56px;
    text-align: center;
    color: var(--secondary);
}

/* --- Heading 2 --- */
h2 {
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: var(--secondary);
    font-size: 32px;
}

/* --- Heading 3 --- */
h3 {
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: var(--secondary);
    font-size: 24px;
}

/* --- Paragraph --- */
p {
    line-height: 1.5em;
    color: var(--contrast);
}


/* ============================= */
/*           Nav Bar             */
/* ============================= */

/* --- Container --- */
#menu {
    z-index: 99;
    list-style: none;
    background-color: var(--primary);
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* --- Nav Item --- */
.menu-item {
    display: block;
    align-self: center;
    color: black;
    text-decoration: none;
}

/* --- Nav Icon --- */
#menu img {
    width: 30px;
    padding: 16px 32px;
}


/* ============================= */
/*            Footer             */
/* ============================= */

/* --- Container --- */
footer {
    background-color: var(--secondary);
}


/* ============================= */
/*           Homepage            */
/* ============================= */

/* --- Container --- */
#banner {
    position: relative;
    padding: 0px;
}

/* --- Background Image --- */
#banner img {
    width: 100%;
    height: 200px;
    opacity: 0.3;
    object-fit: cover;
}

/* --- Title --- */
#banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px 0px;
    width: 90%;
}

/* --- Recipe Preview --- */
#recipes-preview, #tips-preview {
    background-color: var(--tertiary);
}


/* ============================= */
/*         Recipes Page          */
/* ============================= */

/* --- Recipe Card --- */
.recipe {
    margin: 32px 0px;
    padding-bottom: 8px;
    /* border: 2px solid var(--secondary); */
    border-radius: 16px;
    background-color: var(--tertiary);
    transform-style: preserve-3d;
    transition: all 0.9s ease;
    position: relative;
}

/* --- Card Text --- */
.recipe h3, .recipe p, .recipe a {
    margin: 16px 32px;
    color: var(--contrast);
}

/* --- Card Image --- */
.recipe img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    /* border-bottom: 2px solid var(--secondary); */
}

/* --- Front of Flip Card --- */
.front {
    backface-visibility: hidden;
}

/* --- Back of Flip Card --- */
.back {
    position: absolute;
    top: 16px;
    left: 0px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.back a {
    display: block;
    padding: 16px 0px;
    border-radius: 64px;
    text-align: center;
    text-decoration: none;
    background-color: var(--primary);
    font-weight: 600;
}

.back a:hover {
    text-decoration: underline;
    background-color: #649a76;
}

/* --- Flip Card Transition --- */
.flipCard {
    transform: rotateY(180deg);
}

.tags {
    margin: 16px 32px;
}

.tags p {
    display: inline-block;
    padding: 8px 16px;
    margin: 0px 8px 0px 0px;
    border: 2px solid var(--contrast);
    border-radius: 64px;

}


/* ============================= */
/*        Essentials Page        */
/* ============================= */





/* ============================= */
/*           Tips Page           */
/* ============================= */




@media (min-width: 800px) {
    #recipes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 32px;
    }
}